@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
}

.mirror {
  transform: scaleX(-1);
}

@media only screen and (min-width: 600px) {
    .custom-border {
        border-image-source: url('../../public/images/border.png');
        border-image-slice: 110 fill;
        border-image-width: 100px;
        border-image-outset: 0;
        border-image-repeat: repeat;
        margin: 2rem;
        padding: 100px;
    }
}
